<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="基礎JS.html">基礎JS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="陽明交通大學.html">陽明交通大學</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="昕力.html">昕力</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Vue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">php</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">綜合</a>
        </li>
    </ul>
</header>