<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
    <!-- <nav>
        <ul>
            <li>
                <p>HTML5</p>
            </li>
            <li>
                <p>CSS</p>
            </li>
            <li>
                <p>Javascript</p>
            </li>
            <li>
                <p>Vue</p>
            </li>
            <li>
                <p>git</p>
            </li>
        </ul>
    </nav> -->
</header>